<h3>Pragmatic Book Booksshelf Order received</h3>
<p>
Dear <%= @order.name %>
</p>
Thank you for your recent order from the Pragmatic Store.
You ordered the following items:
<table>
 <tr><th colspan="2">Qty</th><th>Description</th></tr>
 <%= @order.line_items -%>
</table>
We will send a separate e-mail when your order ships.
